@import "tailwindcss";

@layer base {
  body {
    background-color: #F8FAFC;
    color: #1E293B;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  }
}

/* Custom leaflet map styles */
.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 10;
  border-radius: 0.75rem;
}

.leaflet-popup-content-wrapper {
  border-radius: 1rem;
  padding: 0.25rem;
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
}

.custom-div-icon {
  background: transparent;
  border: none;
}
